/*--------------------------------------------------------
--------------------NASTAVENÍ PRO MOBIL-------------------
--------------------------------------------------------*/

/*Obecná nastavení*/
body,
html {
  font-family: "roboto", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}

h3 {
  margin: 20px 0 0 0;
}

section {
  padding: 3px 10px 20px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --background-1: #33292a;
  --background-2: #644b4f;
  --background-3: #333333;
  --background-4: #f2f2f2;
  --lightfont: #ffffff;
  --footerpink: #efa69d;
}

/*Nastavení menu*/
#menu-toggle {
  display: none;
}

.menu-icon {
  display: block;
  height: 3rem;
  cursor: pointer;
  background-color: var(--background-3);
  color: white;
  padding: 10px;
  font-size: 200%;
}

.menu {
  display: none;
  font-size: 200%;
}

#menu-toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  background-color: var(--background-3);
}

.menu a {
  color: white;
  padding: 15px;
}

/*Tohle je nastavení pro hero sekci*/
.image-container {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 3rem);
  position: relative;
}

.title-hero {
  color: white;
  font-size: 5rem;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*Společná nastavení tříd*/
.about-us,
.reviews {
  background-color: var(--background-4);
}

.what-do,
.where-to-go {
  background-color: var(--background-2);
  color: var(--lightfont);
}

/*Tohle je nastavení sekce "O nás"*/
.about-us-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-flex img {
  width: 80%;
}

/*Tohle je nastavení sekce "Co děláme*/
.filozofie {
  font-weight: bold;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-item div {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  background-position: center;
  margin-top: 20px;
}

.mountain {
  background-image: url(images/ikony/hiking-white.png);
}

.cycling {
  background-image: url(images/ikony/cycle-white.png);
}

.surfing {
  background-image: url(images/ikony/water-white.png);
}

.car-trips {
  background-image: url(images/ikony/car-white.png);
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

/*Tohle je nastavení pro sekci "Kam chcete jet"*/
.where-to-go button {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 15px 0;
}

.where-to-go button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Tohle je společné nastavení pro galerie*/

.gallery-container,
.gallery2-container {
  gap: 15px;
  align-items: center;
  margin: 25px;
}

.gallery-container img,
.gallery2-container img {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/*Tohle je nastavení pro galerii*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i";
}

.image-1 {
  grid-area: a;
}

.image-2 {
  grid-area: b;
}

.image-3 {
  grid-area: c;
}

.image-4 {
  grid-area: d;
}

.text-1 {
  grid-area: e;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 25px;
  background-color: var(--background-4);
}

.image-5 {
  grid-area: f;
}

.image-6 {
  grid-area: g;
}

.image-7 {
  grid-area: h;
}

.image-8 {
  grid-area: i;
}

/*Tohle je nastavení pro review*/
.reviews img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

/*Tohle je nastavení pro galerii 2*/
.gallery2-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "j"
    "k"
    "l"
    "m";
}

.image-9 {
  grid-area: j;
}

.image-10 {
  grid-area: k;
}

.image-11 {
  grid-area: l;
}

.image-12 {
  grid-area: m;
}

/*Tohle je nastavení pro footer*/
footer {
  text-align: center;
  color: white;
  background-color: var(--background-3);
  padding: 3px 10px 20px;
  margin: 0;
}

footer a {
  color: var(--footerpink);
}

/*--------------------------------------------------------
--------------------NASTAVENÍ PRO TABLET------------------
--------------------------------------------------------*/

@media screen and (min-width: 769px) {
  /*Tohle je nastavení sekce "O nás"*/
  .about-us-flex {
    flex-direction: row;
  }

  .about-us-flex .image {
    align-self: stretch;
  }

  .about-us-flex .image img {
    object-fit: cover;
    height: 90%;
  }

  /*Tohle je nastavení sekce "Co děláme*/
  .icon-container {
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*Tohle je nastavení pro galerii 1*/
  .about-us .image img {
    object-fit: cover;
    height: 100%;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i";
  }

  .gallery-container .text-1 {
    align-self: stretch;
    align-content: center;
  }

  /*Tohle je nastavení pro sekci "Kam chcete jet"*/
  .where-to-go-flex {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px;
  }

  .where-to-go-flex .wtg-h2 {
    width: min-content;
  }

  /*Tohle je nastavení pro review*/
  .review-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .review-content article {
    width: 50%;
  }

  /*Tohle je nastavení pro galerii 2*/
  .gallery2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "j k"
      "l m";
  }
}

/*--------------------------------------------------------
----------------------DESKTOP NASTAVENÍ-------------------
--------------------------------------------------------*/

@media screen and (min-width: 992px) {
  /*Společná nastavení*/
  body {
    margin: 0 auto;
    padding: 0;
  }

  section {
    border-radius: 0;
  }

  .content {
    width: 60%;
    margin: 0 auto;
  }

  /*Nastavení menu*/
  .menu-icon {
    display: none;
  }

  #menu-toggle:checked ~ .menu,
  .menu {
    width: 100%;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 100;
    font-size: 150%;
    gap: 1rem;
  }

  /*Tohle je nastavení pro hero sekci*/
  header .image-container {
    height: 100vh;
  }

  /*Tohle je nastavení pro galerii 2*/

  .gallery2-container {
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .gallery2-container img {
    border-radius: 0;
  }
}
